* {
    font-size: large;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid black;
    padding: 8px;
}

input, select {
    display: block;
    width: 30%;
    padding: 8px;
    border: 1px solid black;
}

button {
    width: 120px;
    background-color: green;
    color: white;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
}
