* {
    font-size: large;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

th {
    background-color: rgb(0, 255, 13);
    color: rgb(0, 0, 0);
}

tr:nth-child(even) {
    background-color: #a1a1a1;
}

tr:nth-child(odd) {
    background-color: #65ff57;
}

td:nth-child(2), td:nth-child(3), td:nth-child(6) {
    text-align: left;
}

td:nth-child(4), td:nth-child(5), td:nth-child(7) {
    text-align: right;
}

tr:hover {
    background-color: #00eeff;
}

select {
    display: inline;
    width: 40%;
    padding: 8px;
    border: 1px solid black;
}

input {
    display: inline;
    width: 15%;
    padding: 8px;
    border: 1px solid black;
}

label {
    display: block;
    margin: 8px;
}

button {
    width: 120px;
    background-color: rgb(255, 0, 0);
    color: white;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    margin: 8px;
}

button:hover {
    background-color: rgb(72, 255, 0);
}

.container {
    display: flex;
}